target/
*.class
*.log
src/main/sdk/compilation/**/
src/main/out/
.classpath
.settings/
*.jar
/lense/helloworld/compilation/modules/helloworld/META-INF/MANIFEST.MF
/lense/helloworld/compilation/modules/helloworld/module.properties
